<div class="app-container" *ngIf="!router.url.includes('login'); else loginPage">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <main class="main-content">
    <!-- ✅ Le header est fixe et hors du contenu scrollable -->
    <header class="app-header">
      <app-header></app-header>
    </header>
    <!-- ✅ La partie qui défile -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<ng-template #loginPage>
  <router-outlet></router-outlet>
</ng-template>